body{
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
    background: #2a3a2a;
    color: #ffffff;
}

/* react nav */
.Apage, .Hpage{margin-top: 80px;} 

.about{ text-align:right ; font-weight: bold; margin-right: 80px; margin-top: -18px;}

.logo { text-align: left; font-weight: bold; margin-left: 80px;}

.logo, .about {
display: inline-block;
}

nav{
z-index: 9999;
top: 0; 
position: fixed;
}

nav ul{ padding: 0; width: 100vw; z-index:9999;
background: #2a2a2a;
top:0;
position: fixed;
}

nav ul li { 
list-style-type: none;
padding: 16px;
}

Link {text-decoration: inherit;color: inherit;}.about{ text-align:right ; font-weight: bold; margin-right: 80px; margin-top: -18px;}
/**/
a{
    text-decoration: none;
    color: #ebffff;
}

#dev{
    text-align: center;
}
.item1 { 
grid-area: header;
}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

/* */
.item6 { grid-area: header; }
.item7 { grid-area: menu; }
.item8 { grid-area: main; }
.item9 { grid-area: right; }
.item10 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header menu main right footer footer footer footer footer footer'
   'header header header header header header menu main right footer footer footer footer footer footer';
  

color:grey;
  background-color: #eee;
 
}

.grid-container > div {
  background: #ebffff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
#item1{
    background: blue;
}
#item5{
    background: red;
}
#first{
    background: yellow;
}
#fifth{
    background: green;
}
.item2, .item3, .item4{
    border: 0.5px solid black;
}
.grid-container > div:hover {
    background: wheat;
}

#white{
    background: #ebffff;
    border: 0.1px solid black;
}

#red{
    background: red;
    border: 0.1px solid black;
}

#blue{
    background: blue;
}

#green{
    background: green;
}

#yellow{
    background: yellow;
}

#mid{
    background: indigo;
    border: 0.1px solid indigo;
}

#white:hover, #lines:hover{
    background: wheat;
}

#blue:hover, #red:hover, #green:hover, #yellow:hover{
    background: indigo;
}

/* 15 lines */
.line1 { 
grid-area: line1;
}
.line2 { grid-area: line2; }
.line3 { grid-area: line3; }
.line4 { grid-area: line4; }
.line5 { grid-area: line5; }
.line6 { grid-area: line6; }
.line7 { grid-area: line7; }
.line8 { grid-area: line8; }
.line9 { grid-area: line9; }
.line10 { grid-area: line10; }
.line11 { grid-area: line11; }
.line12 { grid-area: line12; }
.line13 { grid-area: line13; }
.line14 { grid-area: line14; }
.line15 { grid-area: line15; }


.grid-container2 {
  display: grid;
  grid-template-areas: 'line1 line2 line3 line4 line5 line6 line7 line8 line9 line10 line11 line12 line13 line14 line15';
  color:grey;
  background-color: #eee;
 
}

.line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9, .line10, .line11, .line12, .line13, .line14, .line15{
    border: 0.1px solid black;
}

.grid-container2 > div {
  background: #ebffff;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
